* {
    box-sizing: border-box;
}

.nav {
    position: relative;
    text-align: center;
    top: 30px;
}
.recept {
    border: 2px solid #9DD1F1;
    display: inline-block;
    height: 300px;
    margin-top: 4px;
    text-align: center;
    width: 100%;
    max-width: 700px;
}

.caption {
    display: block;
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    line-height: 18px;
    margin: 0 auto;
    padding: 12px;
    position: relative;
    top: 80%;
    width: 700px;
    max-width: 80%;
    background-color: white;
    color: black;
    opacity: 0.75;
    text-align: center;
}

img{
    max-width: 100%;
}

p {
    width: 100%;
    max-width: 1000px;
}
.bereidingswijze {
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin-left: -30px;
    list-style-type: "-";
}

.Ingrediënten {
    border: 2px solid grey;
    width: 100%;
    max-width: 600px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 22px;
}

h3 {
    max-width: 1000px;
    width: 100%;
}

h4 {
    margin-bottom: -10px;
    max-width: 1000px;
    width: 100%;
}

h5 {
    margin-bottom: -15px;
    max-width: 1000px;
    width: 100%;
}

.hoofdpagina {
    background-color: dimgrey;
    border-radius: 3px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 50px;
    margin: 10px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}
.hoofdpagina:hover{
    background-color: mediumpurple;
}

#aardappeltortilla {
    background-image: url("../Pictures/Meals/Zoete aardappeltortilla/Zoete aardappeltortilla 1000x640.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    max-width: 800px;
    margin: 4px;
}

#pastasalade {
    background-image: url("../Pictures/Meals/Pasta Salade/pastasalade.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    max-width: 800px;
    margin: 4px;
}
#traybake {
    background-image: url('../Pictures/Meals/Traybake/Traybake met kabeljauw en mediterrane groenten.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    max-width: 800px;
    margin: 4px;
}

#nachoschotel {
    background-image: url('../Pictures/Meals/Nachoschotel/nachoschotel-met-gehakt-en-zoete-aardappel-recept.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    max-width: 800px;
    margin: 4px;
}

#ovenpasta {
    background-image: url('../Pictures/Meals/Ovenpasta/overnpasta met broccoli en brie.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    max-width: 800px;
    margin: 4px;
}
